    {% extends "master.html" %} {% block title %} My Tennis Club - List of all
    members {% endblock %}
    

{% block content %}
<div class="container mx-auto">
    <h1 class="text-3xl font-bold mb-8">Producten</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
        {% for product in products %}
       
            <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
                <div class="md:flex">
                    <div class="md:flex-shrink-0">
                        <img class="h-48 w-full object-cover md:w-48" src="{{ img }}" alt="{{ product.name }}">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ product.category }}</div>
                        <a href="product_detail/{{ product.id }}" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ product.name }}</a>
                        <p class="mt-2 text-gray-500">{{ product.description }}</p>
                        <p class="mt-2 text-gray-700 font-bold">Prijs: {{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="bg-white rounded-lg shadow-lg">
                <div class="p-6">
                    <p class="text-gray-700 text-base mb-4">Geen producten beschikbaar.</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
